<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chat</title>
</head>
<body>
<input type="text" id="message">
<button onclick="sendMessage()">Send</button>

<ul id="messages"></ul>

<!-- Socket.IO -->
<script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>

<script>
const socket = io();

function sendMessage() {
    const input = document.getElementById("message");
    socket.send(input.value);
    input.value = "";
}

// получаем сообщения
socket.on("message", function(msg) {
    const li = document.createElement("li");
    li.innerText = msg;
    document.getElementById("messages").appendChild(li);
});
</script>

</body>
</html>